.main-column
{

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:90vh;
}
.main-row
{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.main-main
{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
