.text
{
    color:blue;
    display:block;
    margin-bottom:10%;
}
.main-main
{
    flex-direction:row;
}

.column-1,.column-2
{
    display:flex;
    flex-direction: column;
    margin-right:10%;
    margin-left:10%;
}
